</html>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title><%= users.username %></title>
</head>

<body>
  <header class="header flex flex-space-between">
    <div class="header-left flex">
      <a href="/">
        <div class="header-logo">NHNFACE</div>
      </a>
      <form class="header-search flex" action="./search" method="POST">
        <input class="header-search-box" type="search" name="search" id="search">
      </form>
    </div>
    <div class="header-right">
      <a href="/logout">Logout</a>
    </div>
  </header>
  <main>
    <article class="profile-top">
      <section class="profile-image flex flex-vcenter">
        <div class="profile-image-fix flex">
          <img class="profile-img" src="<%= users.profile_image %>" alt="profile image">
        </div>
      </section>
      <section class="avatar flex flex-vcenter">
        <img class="avatar-img" src="<%= users.avatar %>" alt="avatar">
      </section>
      <section class="username">
        <%= users.username %>
      </section>
      <section class="profile-option flex">
        <section class="profile-option-center">
          <button class="add-friend">Add friend</button>
        </section>
      </section>
    </article>
    <article class="profile-content flex flex-vcenter">
      <div class="profile-content-center">
        <section class="post-left">
          <article class="post post-intro">
            <header class="post-intro-title">Intro</header>
            <main>
              <ul class="post-intro-list">
                <% users.intro.forEach(info => { %>
                <li><%= intro %> </li>
                <% }) %>
              </ul>
            </main>
            <footer>
              <button class="post-edit-intro">Chỉnh sửa chi tiết</button>
            </footer>
          </article>
        </section>
        <section class="post-right">
          <article class="post post-avatar">
            <header class="post-header flex">
              <img class="post-header-img" src="<%= users.avatar %>" alt="avatar">
              <div class="post-user">
                <div class="post-user-name"><%= users.username %></div>
                <div class="post-user-time">April, 1 2020</div>
              </div>
            </header>
            <main class="post-content">
              <div class="post-profile-image">
                <img class="post-profile-img" src="<%= users.profile_image %>" alt="profile image">
              </div>
              <div class="post-content-avatar">
                <img class="post-avatar-img" src="<%= users.avatar %>" alt="avatar">
              </div>
            </main>
            <footer>
              <div class="post-react"></div>
              <div class="post-react-button flex">
                <button>Like</button>
              </div>
            </footer>
          </article>
        </section>
      </div>
    </article>
  </main>
</body>

</html>